header {
   z-index: 5; 
}


body {
    background: url("../images/gameIcons.png");
    background-size: 200px;
}

img {
    padding-top: 5%;
    padding-left: 5%;
}

.nav-wrapper {
    background-color: black;
}

footer.page-footer {
background-color: black;
}

main {
    margin: 0 10%;
    padding: 5% 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}